@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("AdminHeaderLinks", "Common")
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        @Html.Partial("Header")
        <div class="header-menu">
            @Html.Action("TopMenu", "Catalog")
        </div>
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-wrapper-main">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>
    @Html.Action("Footer", "Common")
</div>
<div id="master-wrapper-trace">
    <p><strong>Decision Service Event Log</strong></p>
    <div class="buttons">
        <a class="button-1" href="@Url.Action("Index", "Home", new { page = 99 })">Reset</a>
    </div>
    @for (int i = DecisionServiceTrace.TraceMessageList.Count - 1; i >= 0; i--)
    {
        TraceMessage trm = DecisionServiceTrace.TraceMessageList[i];
        <div>
            <p class="master-trace-date" data-utcdate="@trm.TimeStampInMillisecSinceUnixEpoch"></p>
            <p class="master-trace-message">@trm.Message</p>
        </div>
    }
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
